* {
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
body{
    background-color: white;
    margin: 0px;
}

h3 {
  font-size: 34px;
  font-weight: bold;
text-align: center;
}

p {
 font-size: 16px;
  text-align: center;
}

.content-strategies-wrapper {
  display:flex;
  flex-direction: row;
  max-width: 1108;
  justify-content: space-between;
  margin-top: 146px;
}

.info-img-1 {

  height: 340px;
    width: 360px;
  background-color: white;
  border-radius: 10px
}

.info-img-2 {

  height: 340px;
    width: 360px;
  background-color: white;
  border-radius: 10px
}
.info-img-3 {

  height: 340px;
    width: 360px;
  background-color: white;
  border-radius: 10px
}
.dots {

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
 
}


.price-table-wrapper {

  display:flex;
  flex-direction: row;
  max-width: 1108;
  justify-content: space-between;
  margin-top: 150px;
  
}

.price-offer-1 {

  height: 456px;
    width: 323px;
  background-color: white;
  border-radius: 10px
}

.price-offer-2 {

  height: 456px;
    width: 323px;
  background-color:#02897A;
  border-radius: 10px
}

.price-offer-3 {

  height: 456px;
    width: 323px;
  background-color: white;
  border-radius: 10px
}


.green-text {

  color: #02897A;
}

.green-button {
color: white;
  font-size: 18px;
  height:44px;
  width:140px;
background-color: #02897A;
  border-radius: 10px;
  cursor: pointer;
 
  
  
}

.white-button {
color:#02897A;
  font-size: 18px;
  height:44px;
  width:140px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.dot {
  height: 16px;
  width: 16px;
  background-color: #efefef;
  border-radius: 50%;
  display: inline-block;
  border-top: 64px;
}

.dot-green {
  height: 16px;
  width: 16px;
background-color: #02897A;
  border-radius: 50%;
  display: inline-block;
  border-top: 64px;

}

.what-client-say-wrapper {
  
  display:flex;
  flex-direction: row;
  max-width: 1108;
  justify-content: space-between;
  margin-top: 150px;
  
}

.review-1 {

height: 236px;
  width: 327px;
  background-color: white;
  border-radius: 10px

}

.review-2 {

height: 236px;
  width: 327px;
  background-color: white;
  border-radius: 10px
}

.review-3 {

height: 236px;
  width: 327px;
  background-color: white;
  border-radius: 10px
}

.container-end {
  width: 968px;
  height: 345px;
  background-color: #02897A;
 border-radius: 10px;
  position:relative;
  display: flex;
  flex-direction: row;
  position: center;
  margin-top: 150px;
 

}

.container-end-white-text{
  font-size: 32px;
  font-weight: bold;
  color:white;
  text-align: left;

  
}

.footer-wrapper {
  
  display:flex;
  flex-direction: row;
  max-width: 1108;
  justify-content: space-between;
  margin-top:150px;
}

.last-green-button {
  
  color: white;
  font-size: 18px;
  height:40px;
  width:132px;
background-color: #02897A;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  


